In [55]:
#Links de las datas
#Emisiones de (CO2) = https://edgar.jrc.ec.europa.eu/report_2022#emissions_table
#Temperatura mundial = https://tradingeconomics.com/country-list/temperature
#Tasa de crecimiento de la produccion industrial = https://www.cia.gov/the-world-factbook/field/industrial-production-growth-rate/country-comparison/

In [77]:
import pandas as pd
from IPython.display import IFrame

# Emisiones de CO2
emisioneslink = "https://edgar.jrc.ec.europa.eu/report_2022#emissions_table"
emisiones = pd.read_html(emisioneslink,header=0,flavor="bs4")

# Temperatura mundial
tempelink = "https://www.worldeconomics.com/Indicator-Data/ESG/Environment/Temperatures/" 
tempe = pd.read_html(tempelink, header=0,flavor="bs4")

# Tasa de crecimiento de la produccion industrial
tilink = "https://www.cia.gov/the-world-factbook/field/industrial-production-growth-rate/country-comparison/"
ti = pd.read_html(tilink,header=0,flavor="bs4")

In [57]:
ti1 = ti[0]
ti1

     Rank     Country      % Date of Information
0       1      Panama  37.50           2021 est.
1       2      Guyana  33.52           2021 est.
2       3  Tajikistan  22.04           2021 est.
3       4   Nicaragua  21.28           2021 est.
4       5   Mauritius  20.88           2021 est.
..    ...         ...    ...                 ...
203   204       Syria -14.77           2020 est.
204   205       Burma -20.65           2021 est.
205   206  Montserrat -21.00           2017 est.
206   207  Madagascar -21.56           2020 est.
207   208      Tuvalu -26.10           2012 est.

[208 rows x 4 columns]

In [58]:
tempe1 = tempe[0]
tempe1

,Country,Temperature 100-Year Avg. 1921-2021 Centigrade,Temperature 50-Year Avg. 1972-2021 Centigrade,Temperature 25-Year Avg. 1997-2021 Centigrade,Temperature 10-Year Avg. 2011-2021 Centigrade,Temperature Latest 2021 Centigrade
0,Burkina Faso,28.9°,29.1°,29.4°,29.5°,30.0°
1,Mali,28.8°,29.1°,29.3°,29.3°,29.8°
2,Senegal,28.4°,28.7°,29.0°,29.1°,29.6°
3,Qatar,27.3°,27.7°,28.3°,28.6°,29.4°
4,Mauritania,28.4°,28.6°,28.9°,29.0°,29.3°
...,...,...,...,...,...,...
149,Finland,1.7°,2.0°,2.6°,2.9°,2.3°
150,Mongolia,0.1°,0.7°,1.2°,1.4°,2.1°
151,Norway,1.5°,1.8°,2.3°,2.5°,2.1°
152,Russia,-4.7°,-4.2°,-3.7°,-3.1°,-3.6°
153,Canada,-4.7°,-4.4°,-3.9°,-4.0°,-3.7°

In [59]:
emisiones1 = emisiones[0]
emisiones1

,Country,1990,2000,2005,2015,2019,2020,2021,2021 %
0,unit,Mton,Mton,Mton,Mton,Mton,Mton,Mton,% World Tot
1,EU27,3819.23,3577.21,3698.94,3097.97,2922.05,2605.12,2774.93,7.33
2,GLOBAL TOTAL,22717.73,25834.97,30161.57,36301.98,37993.28,35960.67,37857.58,100.00
3,Afghanistan,2.91,1.08,1.32,8.36,8.08,8.18,8.35,0.02
4,Albania,6.65,3.27,4.21,4.92,5.04,4.71,4.59,0.01
...,...,...,...,...,...,...,...,...,...
208,Vietnam,20.53,56.52,100.43,221.19,333.51,322.02,321.41,0.85
209,Western Sahara,0.15,0.26,0.26,0.24,0.23,0.20,0.24,0.00
210,Yemen,7.09,15.73,21.99,14.25,12.31,11.61,12.05,0.03
211,Zambia,3.02,1.96,2.46,5.31,7.08,6.62,7.01,0.02
212,Zimbabwe,17.21,14.52,11.41,12.88,12.09,11.44,12.29,0.03

In [65]:
emisiones1.columns

Index(['Country', '1990', '2000', '2005', '2015', '2019', '2020', '2021',
       '2021 %'],
      dtype='object')

In [67]:
ti1.columns

Index(['Rank', 'Country', '%', 'Date of Information'], dtype='object')

In [69]:
tempe1.columns

Index(['Country', 'Temperature 100-Year Avg. 1921-2021 Centigrade',
       'Temperature 50-Year Avg. 1972-2021 Centigrade',
       'Temperature 25-Year Avg. 1997-2021 Centigrade',
       'Temperature 10-Year Avg. 2011-2021 Centigrade',
       'Temperature Latest 2021 Centigrade'],
      dtype='object')

In [73]:
merge0 =emisiones1.merge(ti1,left_on='Country',right_on='Country')
merge0

,Country,1990,2000,2005,2015,2019,2020,2021,2021 %,Rank,%,Date of Information
0,Afghanistan,2.91,1.08,1.32,8.36,8.08,8.18,8.35,0.02,203,-14.19,2021 est.
1,Albania,6.65,3.27,4.21,4.92,5.04,4.71,4.59,0.01,12,16.00,2021 est.
2,Algeria,68.00,83.73,98.61,161.48,177.92,168.95,173.00,0.46,57,7.36,2021 est.
3,Angola,11.30,16.61,15.98,32.59,25.33,23.06,24.45,0.06,198,-8.34,2021 est.
4,Anguilla,0.01,0.02,0.01,0.03,0.03,0.02,0.03,0.00,104,4.00,2017 est.
...,...,...,...,...,...,...,...,...,...,...,...,...
172,Venezuela,102.74,137.95,156.19,172.62,118.79,100.16,104.67,0.28,173,-2.00,2017 est.
173,Vietnam,20.53,56.52,100.43,221.19,333.51,322.02,321.41,0.85,109,3.58,2021 est.
174,Yemen,7.09,15.73,21.99,14.25,12.31,11.61,12.05,0.03,189,-5.23,2018 est.
175,Zambia,3.02,1.96,2.46,5.31,7.08,6.62,7.01,0.02,100,4.18,2021 est.
176,Zimbabwe,17.21,14.52,11.41,12.88,12.09,11.44,12.29,0.03,68,6.37,2021 est.

In [75]:
merge1 = merge0.merge(tempe1,left_on='Country',right_on='Country')
merge1

,Country,1990,2000,2005,2015,2019,2020,2021,2021 %,Rank,%,Date of Information,Temperature 100-Year Avg. 1921-2021 Centigrade,Temperature 50-Year Avg. 1972-2021 Centigrade,Temperature 25-Year Avg. 1997-2021 Centigrade,Temperature 10-Year Avg. 2011-2021 Centigrade,Temperature Latest 2021 Centigrade
0,Afghanistan,2.91,1.08,1.32,8.36,8.08,8.18,8.35,0.02,203,-14.19,2021 est.,12.7°,13.1°,13.6°,13.7°,14.3°
1,Albania,6.65,3.27,4.21,4.92,5.04,4.71,4.59,0.01,12,16.00,2021 est.,12.0°,12.1°,12.7°,13.0°,12.9°
2,Algeria,68.00,83.73,98.61,161.48,177.92,168.95,173.00,0.46,57,7.36,2021 est.,23.2°,23.4°,23.7°,23.8°,23.9°
3,Angola,11.30,16.61,15.98,32.59,25.33,23.06,24.45,0.06,198,-8.34,2021 est.,21.5°,21.7°,21.8°,21.7°,21.7°
4,Argentina,100.66,139.43,158.69,199.42,183.17,171.86,189.00,0.50,16,15.26,2021 est.,14.9°,15.0°,15.1°,15.4°,15.4°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,Uruguay,3.94,5.54,5.53,6.78,6.68,6.29,6.79,0.02,74,5.87,2021 est.,17.7°,17.9°,18.0°,18.2°,18.1°
131,Uzbekistan,126.01,127.18,121.35,103.98,122.77,122.15,125.65,0.33,48,8.37,2021 est.,12.9°,13.4°,14.0°,14.1°,14.8°
132,Vietnam,20.53,56.52,100.43,221.19,333.51,322.02,321.41,0.85,109,3.58,2021 est.,24.5°,24.6°,24.8°,25.0°,25.0°
133,Zambia,3.02,1.96,2.46,5.31,7.08,6.62,7.01,0.02,100,4.18,2021 est.,21.8°,22.0°,22.2°,22.2°,22.1°
134,Zimbabwe,17.21,14.52,11.41,12.88,12.09,11.44,12.29,0.03,68,6.37,2021 est.,21.4°,21.6°,21.9°,22.0°,21.9°

In [82]:
import os

countryisos = pd.read_excel(os.path.join('country_isos.xlsx'))
countryisos

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [83]:
merge1['Country'] = merge1['Country'].str.upper()
merge1

,Country,1990,2000,2005,2015,2019,2020,2021,2021 %,Rank,%,Date of Information,Temperature 100-Year Avg. 1921-2021 Centigrade,Temperature 50-Year Avg. 1972-2021 Centigrade,Temperature 25-Year Avg. 1997-2021 Centigrade,Temperature 10-Year Avg. 2011-2021 Centigrade,Temperature Latest 2021 Centigrade
0,AFGHANISTAN,2.91,1.08,1.32,8.36,8.08,8.18,8.35,0.02,203,-14.19,2021 est.,12.7°,13.1°,13.6°,13.7°,14.3°
1,ALBANIA,6.65,3.27,4.21,4.92,5.04,4.71,4.59,0.01,12,16.00,2021 est.,12.0°,12.1°,12.7°,13.0°,12.9°
2,ALGERIA,68.00,83.73,98.61,161.48,177.92,168.95,173.00,0.46,57,7.36,2021 est.,23.2°,23.4°,23.7°,23.8°,23.9°
3,ANGOLA,11.30,16.61,15.98,32.59,25.33,23.06,24.45,0.06,198,-8.34,2021 est.,21.5°,21.7°,21.8°,21.7°,21.7°
4,ARGENTINA,100.66,139.43,158.69,199.42,183.17,171.86,189.00,0.50,16,15.26,2021 est.,14.9°,15.0°,15.1°,15.4°,15.4°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,URUGUAY,3.94,5.54,5.53,6.78,6.68,6.29,6.79,0.02,74,5.87,2021 est.,17.7°,17.9°,18.0°,18.2°,18.1°
131,UZBEKISTAN,126.01,127.18,121.35,103.98,122.77,122.15,125.65,0.33,48,8.37,2021 est.,12.9°,13.4°,14.0°,14.1°,14.8°
132,VIETNAM,20.53,56.52,100.43,221.19,333.51,322.02,321.41,0.85,109,3.58,2021 est.,24.5°,24.6°,24.8°,25.0°,25.0°
133,ZAMBIA,3.02,1.96,2.46,5.31,7.08,6.62,7.01,0.02,100,4.18,2021 est.,21.8°,22.0°,22.2°,22.2°,22.1°
134,ZIMBABWE,17.21,14.52,11.41,12.88,12.09,11.44,12.29,0.03,68,6.37,2021 est.,21.4°,21.6°,21.9°,22.0°,21.9°

In [86]:
merge_result = countryisos.merge(merge1,left_on='Country',right_on='Country')
merge_result

,Country,Officialstatename,InternetccTLD,iso2,iso3,1990,2000,2005,2015,2019,...,2021,2021 %,Rank,%,Date of Information,Temperature 100-Year Avg. 1921-2021 Centigrade,Temperature 50-Year Avg. 1972-2021 Centigrade,Temperature 25-Year Avg. 1997-2021 Centigrade,Temperature 10-Year Avg. 2011-2021 Centigrade,Temperature Latest 2021 Centigrade
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG,2.91,1.08,1.32,8.36,8.08,...,8.35,0.02,203,-14.19,2021 est.,12.7°,13.1°,13.6°,13.7°,14.3°
1,ALBANIA,The Republic of Albania,.al,AL,ALB,6.65,3.27,4.21,4.92,5.04,...,4.59,0.01,12,16.00,2021 est.,12.0°,12.1°,12.7°,13.0°,12.9°
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA,68.00,83.73,98.61,161.48,177.92,...,173.00,0.46,57,7.36,2021 est.,23.2°,23.4°,23.7°,23.8°,23.9°
3,ANGOLA,The Republic of Angola,.ao,AO,AGO,11.30,16.61,15.98,32.59,25.33,...,24.45,0.06,198,-8.34,2021 est.,21.5°,21.7°,21.8°,21.7°,21.7°
4,ARGENTINA,The Argentine Republic,.ar,AR,ARG,100.66,139.43,158.69,199.42,183.17,...,189.00,0.50,16,15.26,2021 est.,14.9°,15.0°,15.1°,15.4°,15.4°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,UKRAINE,Ukraine,.ua,UA,UKR,783.50,357.27,353.20,220.53,199.58,...,185.46,0.49,127,2.57,2021 est.,8.5°,8.9°,9.5°,10.0°,9.4°
115,URUGUAY,The Oriental Republic of Uruguay,.uy,UY,URY,3.94,5.54,5.53,6.78,6.68,...,6.79,0.02,74,5.87,2021 est.,17.7°,17.9°,18.0°,18.2°,18.1°
116,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB,126.01,127.18,121.35,103.98,122.77,...,125.65,0.33,48,8.37,2021 est.,12.9°,13.4°,14.0°,14.1°,14.8°
117,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB,3.02,1.96,2.46,5.31,7.08,...,7.01,0.02,100,4.18,2021 est.,21.8°,22.0°,22.2°,22.2°,22.1°
118,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE,17.21,14.52,11.41,12.88,12.09,...,12.29,0.03,68,6.37,2021 est.,21.4°,21.6°,21.9°,22.0°,21.9°

In [91]:
type(merge_result)

pandas.core.frame.DataFrame

In [92]:
merge_result.columns

Index(['Country', 'Officialstatename', 'InternetccTLD', 'iso2', 'iso3', '1990',
       '2000', '2005', '2015', '2019', '2020', '2021', '2021 %', 'Rank', '%',
       'Date of Information', 'Temperature 100-Year Avg. 1921-2021 Centigrade',
       'Temperature 50-Year Avg. 1972-2021 Centigrade',
       'Temperature 25-Year Avg. 1997-2021 Centigrade',
       'Temperature 10-Year Avg. 2011-2021 Centigrade',
       'Temperature Latest 2021 Centigrade'],
      dtype='object')

In [93]:
merge_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 21 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Country                                         119 non-null    object
 1   Officialstatename                               119 non-null    object
 2   InternetccTLD                                   119 non-null    object
 3   iso2                                            118 non-null    object
 4   iso3                                            119 non-null    object
 5   1990                                            119 non-null    object
 6   2000                                            119 non-null    object
 7   2005                                            119 non-null    object
 8   2015                                            119 non-null    object
 9   2019                                            119 non-null    object
 10  2020                                            119 non-null    object
 11  2021                                            119 non-null    object
 12  2021 %                                          119 non-null    object
 13  Rank                                            119 non-null    int64
 14  %                                               119 non-null    float64
 15  Date of Information                             119 non-null    object
 16  Temperature 100-Year Avg. 1921-2021 Centigrade  119 non-null    object
 17  Temperature 50-Year Avg. 1972-2021 Centigrade   119 non-null    object
 18  Temperature 25-Year Avg. 1997-2021 Centigrade   119 non-null    object
 19  Temperature 10-Year Avg. 2011-2021 Centigrade   119 non-null    object
 20  Temperature Latest 2021 Centigrade              119 non-null    object
dtypes: float64(1), int64(1), object(19)
memory usage: 19.7+ KB

In [96]:
#Se usará la funcion applymap para eliminar todos los espacios de los costados, y como se observa que hay algunas columnas
#que contienen datos de tipo float64 e int64 la funcion isinstance para ignorar 
merge_result = merge_result.applymap(lambda x: x.strip() if isinstance(x, str) else x)
merge_result

,Country,Officialstatename,InternetccTLD,iso2,iso3,1990,2000,2005,2015,2019,...,2021,2021 %,Rank,%,Date of Information,Temperature 100-Year Avg. 1921-2021 Centigrade,Temperature 50-Year Avg. 1972-2021 Centigrade,Temperature 25-Year Avg. 1997-2021 Centigrade,Temperature 10-Year Avg. 2011-2021 Centigrade,Temperature Latest 2021 Centigrade
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG,2.91,1.08,1.32,8.36,8.08,...,8.35,0.02,203,-14.19,2021 est.,12.7°,13.1°,13.6°,13.7°,14.3°
1,ALBANIA,The Republic of Albania,.al,AL,ALB,6.65,3.27,4.21,4.92,5.04,...,4.59,0.01,12,16.00,2021 est.,12.0°,12.1°,12.7°,13.0°,12.9°
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA,68.00,83.73,98.61,161.48,177.92,...,173.00,0.46,57,7.36,2021 est.,23.2°,23.4°,23.7°,23.8°,23.9°
3,ANGOLA,The Republic of Angola,.ao,AO,AGO,11.30,16.61,15.98,32.59,25.33,...,24.45,0.06,198,-8.34,2021 est.,21.5°,21.7°,21.8°,21.7°,21.7°
4,ARGENTINA,The Argentine Republic,.ar,AR,ARG,100.66,139.43,158.69,199.42,183.17,...,189.00,0.50,16,15.26,2021 est.,14.9°,15.0°,15.1°,15.4°,15.4°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,UKRAINE,Ukraine,.ua,UA,UKR,783.50,357.27,353.20,220.53,199.58,...,185.46,0.49,127,2.57,2021 est.,8.5°,8.9°,9.5°,10.0°,9.4°
115,URUGUAY,The Oriental Republic of Uruguay,.uy,UY,URY,3.94,5.54,5.53,6.78,6.68,...,6.79,0.02,74,5.87,2021 est.,17.7°,17.9°,18.0°,18.2°,18.1°
116,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB,126.01,127.18,121.35,103.98,122.77,...,125.65,0.33,48,8.37,2021 est.,12.9°,13.4°,14.0°,14.1°,14.8°
117,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB,3.02,1.96,2.46,5.31,7.08,...,7.01,0.02,100,4.18,2021 est.,21.8°,22.0°,22.2°,22.2°,22.1°
118,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE,17.21,14.52,11.41,12.88,12.09,...,12.29,0.03,68,6.37,2021 est.,21.4°,21.6°,21.9°,22.0°,21.9°

In [ ]:
merge_results.rename(columns={'2021 %':'acumulado','%':''})

In [ ]:
namesofcolumns = ['1990','2000','2005','2015','2019','2020']
mage_result.drop(columns=namesofcolumns,inplace=True)