In [ ]:
#Links de las datas
#Emisiones de (CO2) = https://edgar.jrc.ec.europa.eu/report_2022#emissions_table
#Temperatura mundial = https://tradingeconomics.com/country-list/temperature
#Tasa de crecimiento de la produccion industrial = https://www.cia.gov/the-world-factbook/field/industrial-production-growth-rate/country-comparison/

In [1]:
import pandas as pd
from IPython.display import IFrame

# Emisiones de CO2
emisioneslink = "https://edgar.jrc.ec.europa.eu/report_2022#emissions_table"
emisiones = pd.read_html(emisioneslink,header=0,flavor="bs4")

# Temperatura mundial
tempelink = "https://www.worldeconomics.com/Indicator-Data/ESG/Environment/Temperatures/" 
tempe = pd.read_html(tempelink, header=0,flavor="bs4")

# Tasa de crecimiento de la produccion industrial
tilink = "https://www.cia.gov/the-world-factbook/field/industrial-production-growth-rate/country-comparison/"
ti = pd.read_html(tilink,header=0,flavor="bs4")

In [2]:
#Para ver la data y cuantos datos estamos tratando se usa [0]
ti1 = ti[0]
ti1

     Rank     Country      % Date of Information
0       1      Panama  37.50           2021 est.
1       2      Guyana  33.52           2021 est.
2       3  Tajikistan  22.04           2021 est.
3       4   Nicaragua  21.28           2021 est.
4       5   Mauritius  20.88           2021 est.
..    ...         ...    ...                 ...
203   204       Syria -14.77           2020 est.
204   205       Burma -20.65           2021 est.
205   206  Montserrat -21.00           2017 est.
206   207  Madagascar -21.56           2020 est.
207   208      Tuvalu -26.10           2012 est.

[208 rows x 4 columns]

In [3]:
#Lo mismo para la variable temperatura
tempe1 = tempe[0]
tempe1

,Country,Temperature 100-Year Avg. 1921-2021 Centigrade,Temperature 50-Year Avg. 1972-2021 Centigrade,Temperature 25-Year Avg. 1997-2021 Centigrade,Temperature 10-Year Avg. 2011-2021 Centigrade,Temperature Latest 2021 Centigrade
0,Burkina Faso,28.9°,29.1°,29.4°,29.5°,30.0°
1,Mali,28.8°,29.1°,29.3°,29.3°,29.8°
2,Senegal,28.4°,28.7°,29.0°,29.1°,29.6°
3,Qatar,27.3°,27.7°,28.3°,28.6°,29.4°
4,Mauritania,28.4°,28.6°,28.9°,29.0°,29.3°
...,...,...,...,...,...,...
149,Finland,1.7°,2.0°,2.6°,2.9°,2.3°
150,Mongolia,0.1°,0.7°,1.2°,1.4°,2.1°
151,Norway,1.5°,1.8°,2.3°,2.5°,2.1°
152,Russia,-4.7°,-4.2°,-3.7°,-3.1°,-3.6°
153,Canada,-4.7°,-4.4°,-3.9°,-4.0°,-3.7°

In [4]:
#Lo mismo para la variable emisiones
emisiones1 = emisiones[0]
emisiones1

,Country,1990,2000,2005,2015,2019,2020,2021,2021 %
0,unit,Mton,Mton,Mton,Mton,Mton,Mton,Mton,% World Tot
1,EU27,3819.23,3577.21,3698.94,3097.97,2922.05,2605.12,2774.93,7.33
2,GLOBAL TOTAL,22717.73,25834.97,30161.57,36301.98,37993.28,35960.67,37857.58,100.00
3,Afghanistan,2.91,1.08,1.32,8.36,8.08,8.18,8.35,0.02
4,Albania,6.65,3.27,4.21,4.92,5.04,4.71,4.59,0.01
...,...,...,...,...,...,...,...,...,...
208,Vietnam,20.53,56.52,100.43,221.19,333.51,322.02,321.41,0.85
209,Western Sahara,0.15,0.26,0.26,0.24,0.23,0.20,0.24,0.00
210,Yemen,7.09,15.73,21.99,14.25,12.31,11.61,12.05,0.03
211,Zambia,3.02,1.96,2.46,5.31,7.08,6.62,7.01,0.02
212,Zimbabwe,17.21,14.52,11.41,12.88,12.09,11.44,12.29,0.03

In [5]:
#.columns permite ver las columnas de emisiones de CO2
emisiones1.columns

Index(['Country', '1990', '2000', '2005', '2015', '2019', '2020', '2021',
       '2021 %'],
      dtype='object')

In [6]:
#ver las columnas de tasa industrial
ti1.columns

Index(['Rank', 'Country', '%', 'Date of Information'], dtype='object')

In [7]:
#ver las columnas de temperatura
tempe1.columns

Index(['Country', 'Temperature 100-Year Avg. 1921-2021 Centigrade',
       'Temperature 50-Year Avg. 1972-2021 Centigrade',
       'Temperature 25-Year Avg. 1997-2021 Centigrade',
       'Temperature 10-Year Avg. 2011-2021 Centigrade',
       'Temperature Latest 2021 Centigrade'],
      dtype='object')

In [8]:
#Con este codigo empleado set encontraremos la diferencia entre dos conjuntos de paises, los paises en emisiones1 pero no en ti1
Onlyemisions= set(emisiones1.Country)-set(ti1.Country)
Onlyemisions

{'Aruba',
 'Bahamas',
 'Congo',
 'Curaçao',
 'Côte d’Ivoire',
 'Democratic Republic of the Congo',
 'EU27',
 'Falkland Islands',
 'Faroes',
 'France and Monaco',
 'French Guiana',
 'French Polynesia',
 'GLOBAL TOTAL',
 'Gibraltar',
 'Guadeloupe',
 'International Aviation',
 'International Shipping',
 'Israel and Palestine, State of',
 'Italy, San Marino and the Holy See',
 'Macao',
 'Martinique',
 'Myanmar/Burma',
 'North Korea',
 'Réunion',
 'Saint Helena, Ascension and Tristan da Cunha',
 'Saint Pierre and Miquelon',
 'Serbia and Montenegro',
 'South Korea',
 'Spain and Andorra',
 'Sudan and South Sudan',
 'Switzerland and Liechtenstein',
 'São Tomé and Príncipe',
 'The Gambia',
 'Türkiye',
 'Western Sahara',
 'unit'}

In [9]:
#Con este codigo empleado set encontraremos la diferencia entre dos conjuntos de paises, los paises en ti1 pero no en emisiones1
Onlyti= set(ti1.Country)-set(emisiones1.Country)
Onlyti

{'Andorra',
 'Bahamas, The',
 'Burma',
 'Congo, Democratic Republic of the',
 'Congo, Republic of the',
 "Cote d'Ivoire",
 'Faroe Islands',
 'France',
 'Gambia, The',
 'Gaza Strip',
 'Isle of Man',
 'Israel',
 'Italy',
 'Korea, North',
 'Korea, South',
 'Kosovo',
 'Macau',
 'Marshall Islands',
 'Micronesia, Federated States of',
 'Monaco',
 'Montenegro',
 'Montserrat',
 'San Marino',
 'Sao Tome and Principe',
 'Serbia',
 'Spain',
 'Sudan',
 'Switzerland',
 'Turkey (Turkiye)',
 'Tuvalu',
 'West Bank'}

In [10]:
#La funcion extractOne permite buscar elementos similares en dos listas
from thefuzz import process as fz
[(f,fz.extractOne(f,Onlyemisions)) for f in sorted(Onlyti)]

[('Andorra', ('Spain and Andorra', 90)),
 ('Bahamas, The', ('Bahamas', 90)),
 ('Burma', ('Myanmar/Burma', 90)),
 ('Congo, Democratic Republic of the',
  ('Democratic Republic of the Congo', 95)),
 ('Congo, Republic of the', ('Democratic Republic of the Congo', 95)),
 ("Cote d'Ivoire", ('Côte d’Ivoire', 96)),
 ('Faroe Islands', ('Faroes', 75)),
 ('France', ('France and Monaco', 90)),
 ('Gambia, The', ('The Gambia', 95)),
 ('Gaza Strip', ('Türkiye', 54)),
 ('Isle of Man', ('Israel and Palestine, State of', 86)),
 ('Israel', ('Israel and Palestine, State of', 90)),
 ('Italy', ('Italy, San Marino and the Holy See', 90)),
 ('Korea, North', ('North Korea', 95)),
 ('Korea, South', ('South Korea', 95)),
 ('Kosovo', ('São Tomé and Príncipe', 45)),
 ('Macau', ('Macao', 80)),
 ('Marshall Islands', ('Falkland Islands', 69)),
 ('Micronesia, Federated States of', ('Faroes', 60)),
 ('Monaco', ('France and Monaco', 90)),
 ('Montenegro', ('Serbia and Montenegro', 90)),
 ('Montserrat', ('Serbia and Montenegro', 54)),
 ('San Marino', ('Italy, San Marino and the Holy See', 90)),
 ('Sao Tome and Principe', ('São Tomé and Príncipe', 92)),
 ('Serbia', ('Serbia and Montenegro', 90)),
 ('Spain', ('Spain and Andorra', 90)),
 ('Sudan', ('Sudan and South Sudan', 90)),
 ('Switzerland', ('Switzerland and Liechtenstein', 90)),
 ('Turkey (Turkiye)', ('Türkiye', 75)),
 ('Tuvalu', ('Guadeloupe', 50)),
 ('West Bank', ('Western Sahara', 57))]

In [11]:
#Construiremos un diccionario de coincidencias que superan un cierto umbral de similitud o coincidencia (en este caso, 87).
#entre las dos variables
[(f,fz.extractOne(f ,Onlyemisions)) for f in sorted(Onlyti)
 if fz.extractOne(f ,Onlyemisions)[1]>=87]

[('Andorra', ('Spain and Andorra', 90)),
 ('Bahamas, The', ('Bahamas', 90)),
 ('Burma', ('Myanmar/Burma', 90)),
 ('Congo, Democratic Republic of the',
  ('Democratic Republic of the Congo', 95)),
 ('Congo, Republic of the', ('Democratic Republic of the Congo', 95)),
 ("Cote d'Ivoire", ('Côte d’Ivoire', 96)),
 ('France', ('France and Monaco', 90)),
 ('Gambia, The', ('The Gambia', 95)),
 ('Israel', ('Israel and Palestine, State of', 90)),
 ('Italy', ('Italy, San Marino and the Holy See', 90)),
 ('Korea, North', ('North Korea', 95)),
 ('Korea, South', ('South Korea', 95)),
 ('Monaco', ('France and Monaco', 90)),
 ('Montenegro', ('Serbia and Montenegro', 90)),
 ('San Marino', ('Italy, San Marino and the Holy See', 90)),
 ('Sao Tome and Principe', ('São Tomé and Príncipe', 92)),
 ('Serbia', ('Serbia and Montenegro', 90)),
 ('Spain', ('Spain and Andorra', 90)),
 ('Sudan', ('Sudan and South Sudan', 90)),
 ('Switzerland', ('Switzerland and Liechtenstein', 90))]

In [12]:
#La variable cambioenemisionytierá un diccionario que contiene las coincidencias encontradas entre elementos de Onlyti y Onlyemisions 
#que cumplen con la condición de tener una similitud igual o superior a 87.
cambioenemisionyti = {f:fz.extractOne(f, Onlyemisions)[0] 
                 for f in sorted(Onlyti)
                 if fz.extractOne(f, Onlyemisions)[1] >=87}
cambioenemisionyti

{'Andorra': 'Spain and Andorra',
 'Bahamas, The': 'Bahamas',
 'Burma': 'Myanmar/Burma',
 'Congo, Democratic Republic of the': 'Democratic Republic of the Congo',
 'Congo, Republic of the': 'Democratic Republic of the Congo',
 "Cote d'Ivoire": 'Côte d’Ivoire',
 'France': 'France and Monaco',
 'Gambia, The': 'The Gambia',
 'Israel': 'Israel and Palestine, State of',
 'Italy': 'Italy, San Marino and the Holy See',
 'Korea, North': 'North Korea',
 'Korea, South': 'South Korea',
 'Monaco': 'France and Monaco',
 'Montenegro': 'Serbia and Montenegro',
 'San Marino': 'Italy, San Marino and the Holy See',
 'Sao Tome and Principe': 'São Tomé and Príncipe',
 'Serbia': 'Serbia and Montenegro',
 'Spain': 'Spain and Andorra',
 'Sudan': 'Sudan and South Sudan',
 'Switzerland': 'Switzerland and Liechtenstein'}

In [64]:
#Se usa el replace() para reemplazar el diccionario creado con los datos similares
emisiones1['Country'].replace(cambioenemisionyti, inplace=True)
emisiones1

,Country,1990,2000,2005,2015,2019,2020,2021,2021 %
0,unit,Mton,Mton,Mton,Mton,Mton,Mton,Mton,% World Tot
1,EU27,3819.23,3577.21,3698.94,3097.97,2922.05,2605.12,2774.93,7.33
2,GLOBAL TOTAL,22717.73,25834.97,30161.57,36301.98,37993.28,35960.67,37857.58,100.00
3,Afghanistan,2.91,1.08,1.32,8.36,8.08,8.18,8.35,0.02
4,Albania,6.65,3.27,4.21,4.92,5.04,4.71,4.59,0.01
...,...,...,...,...,...,...,...,...,...
208,Vietnam,20.53,56.52,100.43,221.19,333.51,322.02,321.41,0.85
209,Western Sahara,0.15,0.26,0.26,0.24,0.23,0.20,0.24,0.00
210,Yemen,7.09,15.73,21.99,14.25,12.31,11.61,12.05,0.03
211,Zambia,3.02,1.96,2.46,5.31,7.08,6.62,7.01,0.02
212,Zimbabwe,17.21,14.52,11.41,12.88,12.09,11.44,12.29,0.03

In [94]:
Onlyemisions=set(emisiones1.Country)-set(ti1.Country)
Onlyti=set(ti1.Country)-set(emisiones1.Country)
[(f,fz.extractOne(f, Onlyemisions)) for f in sorted(Onlyti)]

[('Faroe Islands', ('Faroes', 75)),
 ('Gaza Strip', ('Türkiye', 54)),
 ('Isle of Man', ('Macao', 51)),
 ('Kosovo', ('Congo', 36)),
 ('Macau', ('Macao', 80)),
 ('Marshall Islands', ('Falkland Islands', 69)),
 ('Micronesia, Federated States of', ('Faroes', 60)),
 ('Montserrat', ('International Shipping', 54)),
 ('Turkey (Turkiye)', ('Türkiye', 75)),
 ('Tuvalu', ('Guadeloupe', 50)),
 ('West Bank', ('Western Sahara', 57))]

In [95]:
[(f,fz.extractOne(f ,Onlyemisions)) for f in sorted(Onlyti)
 if fz.extractOne(f ,Onlyemisions)[1]>=87]

[]

In [96]:
cambioenemisionyti1= {f:fz.extractOne(f, Onlyemisions)[0] 
                 for f in sorted(Onlyti)
                 if fz.extractOne(f, Onlyemisions)[1] >=87}
cambioenemisionyti1

{}

In [97]:
emisiones1["Country"].replace(to_replace=cambioenemisionyti, inplace=True)
emisiones1

,Country,1990,2000,2005,2015,2019,2020,2021,2021 %
0,unit,Mton,Mton,Mton,Mton,Mton,Mton,Mton,% World Tot
1,EU27,3819.23,3577.21,3698.94,3097.97,2922.05,2605.12,2774.93,7.33
2,GLOBAL TOTAL,22717.73,25834.97,30161.57,36301.98,37993.28,35960.67,37857.58,100.00
3,Afghanistan,2.91,1.08,1.32,8.36,8.08,8.18,8.35,0.02
4,Albania,6.65,3.27,4.21,4.92,5.04,4.71,4.59,0.01
...,...,...,...,...,...,...,...,...,...
208,Vietnam,20.53,56.52,100.43,221.19,333.51,322.02,321.41,0.85
209,Western Sahara,0.15,0.26,0.26,0.24,0.23,0.20,0.24,0.00
210,Yemen,7.09,15.73,21.99,14.25,12.31,11.61,12.05,0.03
211,Zambia,3.02,1.96,2.46,5.31,7.08,6.62,7.01,0.02
212,Zimbabwe,17.21,14.52,11.41,12.88,12.09,11.44,12.29,0.03

In [98]:
merge0 =emisiones1.merge(ti1,left_on='Country',right_on='Country')
merge0

,Country,1990,2000,2005,2015,2019,2020,2021,2021 %,Rank,%,Date of Information
0,Afghanistan,2.91,1.08,1.32,8.36,8.08,8.18,8.35,0.02,203,-14.19,2021 est.
1,Albania,6.65,3.27,4.21,4.92,5.04,4.71,4.59,0.01,12,16.00,2021 est.
2,Algeria,68.00,83.73,98.61,161.48,177.92,168.95,173.00,0.46,57,7.36,2021 est.
3,Angola,11.30,16.61,15.98,32.59,25.33,23.06,24.45,0.06,198,-8.34,2021 est.
4,Anguilla,0.01,0.02,0.01,0.03,0.03,0.02,0.03,0.00,104,4.00,2017 est.
...,...,...,...,...,...,...,...,...,...,...,...,...
192,Venezuela,102.74,137.95,156.19,172.62,118.79,100.16,104.67,0.28,173,-2.00,2017 est.
193,Vietnam,20.53,56.52,100.43,221.19,333.51,322.02,321.41,0.85,109,3.58,2021 est.
194,Yemen,7.09,15.73,21.99,14.25,12.31,11.61,12.05,0.03,189,-5.23,2018 est.
195,Zambia,3.02,1.96,2.46,5.31,7.08,6.62,7.01,0.02,100,4.18,2021 est.
196,Zimbabwe,17.21,14.52,11.41,12.88,12.09,11.44,12.29,0.03,68,6.37,2021 est.

In [99]:
Onlymerge0=set(merge0.Country)-set(tempe1.Country)
Onlytempe1=set(tempe1.Country)-set(merge0.Country)
[(f,fz.extractOne(f, Onlymerge0)) for f in sorted(Onlytempe1)]

[('Congo, Dem. Rep', ('Democratic Republic of the Congo', 86)),
 ('Congo, Rep.', ('Democratic Republic of the Congo', 86)),
 ('Czech Republic', ('Democratic Republic of the Congo', 86)),
 ('Korea, Rep.', ('North Korea', 67)),
 ('Slovak Republic', ('Democratic Republic of the Congo', 86)),
 ('Turkey', ('Turks and Caicos Islands', 62))]

In [100]:
[(f,fz.extractOne(f ,Onlymerge0)) for f in sorted(Onlytempe1)
 if fz.extractOne(f ,Onlymerge0)[1]>=87]

[]

In [101]:
cambiomarge0ytempe1 = {f:fz.extractOne(f, Onlymerge0)[0] 
                 for f in sorted(Onlytempe1)
                 if fz.extractOne(f, Onlymerge0)[1] >=87}
cambiomarge0ytempe1

{}

In [102]:
merge0["Country"].replace(to_replace=cambiomarge0ytempe1, inplace=True)
merge0

,Country,1990,2000,2005,2015,2019,2020,2021,2021 %,Rank,%,Date of Information
0,Afghanistan,2.91,1.08,1.32,8.36,8.08,8.18,8.35,0.02,203,-14.19,2021 est.
1,Albania,6.65,3.27,4.21,4.92,5.04,4.71,4.59,0.01,12,16.00,2021 est.
2,Algeria,68.00,83.73,98.61,161.48,177.92,168.95,173.00,0.46,57,7.36,2021 est.
3,Angola,11.30,16.61,15.98,32.59,25.33,23.06,24.45,0.06,198,-8.34,2021 est.
4,Anguilla,0.01,0.02,0.01,0.03,0.03,0.02,0.03,0.00,104,4.00,2017 est.
...,...,...,...,...,...,...,...,...,...,...,...,...
192,Venezuela,102.74,137.95,156.19,172.62,118.79,100.16,104.67,0.28,173,-2.00,2017 est.
193,Vietnam,20.53,56.52,100.43,221.19,333.51,322.02,321.41,0.85,109,3.58,2021 est.
194,Yemen,7.09,15.73,21.99,14.25,12.31,11.61,12.05,0.03,189,-5.23,2018 est.
195,Zambia,3.02,1.96,2.46,5.31,7.08,6.62,7.01,0.02,100,4.18,2021 est.
196,Zimbabwe,17.21,14.52,11.41,12.88,12.09,11.44,12.29,0.03,68,6.37,2021 est.

In [103]:
merge1 = merge0.merge(tempe1,left_on='Country',right_on='Country')
merge1

,Country,1990,2000,2005,2015,2019,2020,2021,2021 %,Rank,%,Date of Information,Temperature 100-Year Avg. 1921-2021 Centigrade,Temperature 50-Year Avg. 1972-2021 Centigrade,Temperature 25-Year Avg. 1997-2021 Centigrade,Temperature 10-Year Avg. 2011-2021 Centigrade,Temperature Latest 2021 Centigrade
0,Afghanistan,2.91,1.08,1.32,8.36,8.08,8.18,8.35,0.02,203,-14.19,2021 est.,12.7°,13.1°,13.6°,13.7°,14.3°
1,Albania,6.65,3.27,4.21,4.92,5.04,4.71,4.59,0.01,12,16.00,2021 est.,12.0°,12.1°,12.7°,13.0°,12.9°
2,Algeria,68.00,83.73,98.61,161.48,177.92,168.95,173.00,0.46,57,7.36,2021 est.,23.2°,23.4°,23.7°,23.8°,23.9°
3,Angola,11.30,16.61,15.98,32.59,25.33,23.06,24.45,0.06,198,-8.34,2021 est.,21.5°,21.7°,21.8°,21.7°,21.7°
4,Argentina,100.66,139.43,158.69,199.42,183.17,171.86,189.00,0.50,16,15.26,2021 est.,14.9°,15.0°,15.1°,15.4°,15.4°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,Uzbekistan,126.01,127.18,121.35,103.98,122.77,122.15,125.65,0.33,48,8.37,2021 est.,12.9°,13.4°,14.0°,14.1°,14.8°
148,Vietnam,20.53,56.52,100.43,221.19,333.51,322.02,321.41,0.85,109,3.58,2021 est.,24.5°,24.6°,24.8°,25.0°,25.0°
149,Yemen,7.09,15.73,21.99,14.25,12.31,11.61,12.05,0.03,189,-5.23,2018 est.,25.2°,25.4°,25.6°,25.7°,25.6°
150,Zambia,3.02,1.96,2.46,5.31,7.08,6.62,7.01,0.02,100,4.18,2021 est.,21.8°,22.0°,22.2°,22.2°,22.1°
151,Zimbabwe,17.21,14.52,11.41,12.88,12.09,11.44,12.29,0.03,68,6.37,2021 est.,21.4°,21.6°,21.9°,22.0°,21.9°

In [104]:
import os

countryisos = pd.read_excel(os.path.join('country_isos.xlsx'))
countryisos

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [105]:
merge1['Country'] = merge1['Country'].str.upper()
merge1

,Country,1990,2000,2005,2015,2019,2020,2021,2021 %,Rank,%,Date of Information,Temperature 100-Year Avg. 1921-2021 Centigrade,Temperature 50-Year Avg. 1972-2021 Centigrade,Temperature 25-Year Avg. 1997-2021 Centigrade,Temperature 10-Year Avg. 2011-2021 Centigrade,Temperature Latest 2021 Centigrade
0,AFGHANISTAN,2.91,1.08,1.32,8.36,8.08,8.18,8.35,0.02,203,-14.19,2021 est.,12.7°,13.1°,13.6°,13.7°,14.3°
1,ALBANIA,6.65,3.27,4.21,4.92,5.04,4.71,4.59,0.01,12,16.00,2021 est.,12.0°,12.1°,12.7°,13.0°,12.9°
2,ALGERIA,68.00,83.73,98.61,161.48,177.92,168.95,173.00,0.46,57,7.36,2021 est.,23.2°,23.4°,23.7°,23.8°,23.9°
3,ANGOLA,11.30,16.61,15.98,32.59,25.33,23.06,24.45,0.06,198,-8.34,2021 est.,21.5°,21.7°,21.8°,21.7°,21.7°
4,ARGENTINA,100.66,139.43,158.69,199.42,183.17,171.86,189.00,0.50,16,15.26,2021 est.,14.9°,15.0°,15.1°,15.4°,15.4°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,UZBEKISTAN,126.01,127.18,121.35,103.98,122.77,122.15,125.65,0.33,48,8.37,2021 est.,12.9°,13.4°,14.0°,14.1°,14.8°
148,VIETNAM,20.53,56.52,100.43,221.19,333.51,322.02,321.41,0.85,109,3.58,2021 est.,24.5°,24.6°,24.8°,25.0°,25.0°
149,YEMEN,7.09,15.73,21.99,14.25,12.31,11.61,12.05,0.03,189,-5.23,2018 est.,25.2°,25.4°,25.6°,25.7°,25.6°
150,ZAMBIA,3.02,1.96,2.46,5.31,7.08,6.62,7.01,0.02,100,4.18,2021 est.,21.8°,22.0°,22.2°,22.2°,22.1°
151,ZIMBABWE,17.21,14.52,11.41,12.88,12.09,11.44,12.29,0.03,68,6.37,2021 est.,21.4°,21.6°,21.9°,22.0°,21.9°

In [106]:
Onlymarge1=set(merge1.Country)-set(countryisos.Country)
Onlycountryisos=set(countryisos.Country)-set(merge1.Country)
[(f,fz.extractOne(f, Onlyemisions)) for f in sorted(Onlyti)]

[('Faroe Islands', ('Faroes', 75)),
 ('Gaza Strip', ('Türkiye', 54)),
 ('Isle of Man', ('Macao', 51)),
 ('Kosovo', ('Congo', 36)),
 ('Macau', ('Macao', 80)),
 ('Marshall Islands', ('Falkland Islands', 69)),
 ('Micronesia, Federated States of', ('Faroes', 60)),
 ('Montserrat', ('International Shipping', 54)),
 ('Turkey (Turkiye)', ('Türkiye', 75)),
 ('Tuvalu', ('Guadeloupe', 50)),
 ('West Bank', ('Western Sahara', 57))]

In [107]:
[(f,fz.extractOne(f ,Onlymarge1)) for f in sorted(Onlycountryisos)
 if fz.extractOne(f ,Onlymarge1)[1]>=87]

[('BAHAMAS (THE)', ('BAHAMAS', 90)),
 ('BOLIVIA (PLURINATIONAL STATE OF)', ('BOLIVIA', 90)),
 ('BRUNEI DARUSSALAM', ('BRUNEI', 90)),
 ('CENTRAL AFRICAN REPUBLIC (THE)', ('CENTRAL AFRICAN REPUBLIC', 95)),
 ('COMOROS (THE)', ('COMOROS', 90)),
 ("C√îTE D'IVOIRE", ('CÔTE D’IVOIRE', 96)),
 ('DOMINICAN REPUBLIC (THE)', ('DOMINICAN REPUBLIC', 95)),
 ('FRANCE', ('FRANCE AND MONACO', 90)),
 ('GAMBIA (THE)', ('THE GAMBIA', 95)),
 ('ITALY', ('ITALY, SAN MARINO AND THE HOLY SEE', 90)),
 ('MOLDOVA (THE REPUBLIC OF)', ('MOLDOVA', 90)),
 ('MONTENEGRO', ('SERBIA AND MONTENEGRO', 90)),
 ('MYANMAR', ('MYANMAR/BURMA', 90)),
 ('NETHERLANDS (THE)', ('NETHERLANDS', 95)),
 ('NIGER (THE)', ('NIGER', 90)),
 ('PHILIPPINES (THE)', ('PHILIPPINES', 95)),
 ('RUSSIAN FEDERATION (THE)', ('RUSSIA', 90)),
 ('SERBIA', ('SERBIA AND MONTENEGRO', 90)),
 ('SOUTH SUDAN', ('SUDAN AND SOUTH SUDAN', 90)),
 ('SPAIN', ('SPAIN AND ANDORRA', 90)),
 ('SWITZERLAND', ('SWITZERLAND AND LIECHTENSTEIN', 90)),
 ('TANZANIA, THE UNITED REPUBLIC OF', ('TANZANIA', 90)),
 ('UNITED ARAB EMIRATES (THE)', ('UNITED ARAB EMIRATES', 95)),
 ('UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)',
  ('UNITED KINGDOM', 90)),
 ('UNITED STATES MINOR OUTLYING ISLANDS (THE)', ('UNITED STATES', 90)),
 ('VIET NAM', ('VIETNAM', 93))]

In [108]:
cambiocountryymerge1 = {f:fz.extractOne(f, Onlymarge1)[0] 
                 for f in sorted(Onlycountryisos)
                 if fz.extractOne(f, Onlymarge1)[1] >=87}
cambiocountryymerge1

{'BAHAMAS (THE)': 'BAHAMAS',
 'BOLIVIA (PLURINATIONAL STATE OF)': 'BOLIVIA',
 'BRUNEI DARUSSALAM': 'BRUNEI',
 'CENTRAL AFRICAN REPUBLIC (THE)': 'CENTRAL AFRICAN REPUBLIC',
 'COMOROS (THE)': 'COMOROS',
 "C√îTE D'IVOIRE": 'CÔTE D’IVOIRE',
 'DOMINICAN REPUBLIC (THE)': 'DOMINICAN REPUBLIC',
 'FRANCE': 'FRANCE AND MONACO',
 'GAMBIA (THE)': 'THE GAMBIA',
 'ITALY': 'ITALY, SAN MARINO AND THE HOLY SEE',
 'MOLDOVA (THE REPUBLIC OF)': 'MOLDOVA',
 'MONTENEGRO': 'SERBIA AND MONTENEGRO',
 'MYANMAR': 'MYANMAR/BURMA',
 'NETHERLANDS (THE)': 'NETHERLANDS',
 'NIGER (THE)': 'NIGER',
 'PHILIPPINES (THE)': 'PHILIPPINES',
 'RUSSIAN FEDERATION (THE)': 'RUSSIA',
 'SERBIA': 'SERBIA AND MONTENEGRO',
 'SOUTH SUDAN': 'SUDAN AND SOUTH SUDAN',
 'SPAIN': 'SPAIN AND ANDORRA',
 'SWITZERLAND': 'SWITZERLAND AND LIECHTENSTEIN',
 'TANZANIA, THE UNITED REPUBLIC OF': 'TANZANIA',
 'UNITED ARAB EMIRATES (THE)': 'UNITED ARAB EMIRATES',
 'UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)': 'UNITED KINGDOM',
 'UNITED STATES MINOR OUTLYING ISLANDS (THE)': 'UNITED STATES',
 'VIET NAM': 'VIETNAM'}

In [109]:
merge1["Country"].replace(to_replace=cambiocountryymerge1 ,inplace=True)
merge1

,Country,1990,2000,2005,2015,2019,2020,2021,2021 %,Rank,%,Date of Information,Temperature 100-Year Avg. 1921-2021 Centigrade,Temperature 50-Year Avg. 1972-2021 Centigrade,Temperature 25-Year Avg. 1997-2021 Centigrade,Temperature 10-Year Avg. 2011-2021 Centigrade,Temperature Latest 2021 Centigrade
0,AFGHANISTAN,2.91,1.08,1.32,8.36,8.08,8.18,8.35,0.02,203,-14.19,2021 est.,12.7°,13.1°,13.6°,13.7°,14.3°
1,ALBANIA,6.65,3.27,4.21,4.92,5.04,4.71,4.59,0.01,12,16.00,2021 est.,12.0°,12.1°,12.7°,13.0°,12.9°
2,ALGERIA,68.00,83.73,98.61,161.48,177.92,168.95,173.00,0.46,57,7.36,2021 est.,23.2°,23.4°,23.7°,23.8°,23.9°
3,ANGOLA,11.30,16.61,15.98,32.59,25.33,23.06,24.45,0.06,198,-8.34,2021 est.,21.5°,21.7°,21.8°,21.7°,21.7°
4,ARGENTINA,100.66,139.43,158.69,199.42,183.17,171.86,189.00,0.50,16,15.26,2021 est.,14.9°,15.0°,15.1°,15.4°,15.4°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,UZBEKISTAN,126.01,127.18,121.35,103.98,122.77,122.15,125.65,0.33,48,8.37,2021 est.,12.9°,13.4°,14.0°,14.1°,14.8°
148,VIETNAM,20.53,56.52,100.43,221.19,333.51,322.02,321.41,0.85,109,3.58,2021 est.,24.5°,24.6°,24.8°,25.0°,25.0°
149,YEMEN,7.09,15.73,21.99,14.25,12.31,11.61,12.05,0.03,189,-5.23,2018 est.,25.2°,25.4°,25.6°,25.7°,25.6°
150,ZAMBIA,3.02,1.96,2.46,5.31,7.08,6.62,7.01,0.02,100,4.18,2021 est.,21.8°,22.0°,22.2°,22.2°,22.1°
151,ZIMBABWE,17.21,14.52,11.41,12.88,12.09,11.44,12.29,0.03,68,6.37,2021 est.,21.4°,21.6°,21.9°,22.0°,21.9°

In [194]:
merge_result = countryisos.merge(merge1,left_on='Country',right_on='Country')
merge_result

,Country,Officialstatename,InternetccTLD,iso2,iso3,1990,2000,2005,2015,2019,...,2021,2021 %,Rank,%,Date of Information,Temperature 100-Year Avg. 1921-2021 Centigrade,Temperature 50-Year Avg. 1972-2021 Centigrade,Temperature 25-Year Avg. 1997-2021 Centigrade,Temperature 10-Year Avg. 2011-2021 Centigrade,Temperature Latest 2021 Centigrade
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG,2.91,1.08,1.32,8.36,8.08,...,8.35,0.02,203,-14.19,2021 est.,12.7°,13.1°,13.6°,13.7°,14.3°
1,ALBANIA,The Republic of Albania,.al,AL,ALB,6.65,3.27,4.21,4.92,5.04,...,4.59,0.01,12,16.00,2021 est.,12.0°,12.1°,12.7°,13.0°,12.9°
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA,68.00,83.73,98.61,161.48,177.92,...,173.00,0.46,57,7.36,2021 est.,23.2°,23.4°,23.7°,23.8°,23.9°
3,ANGOLA,The Republic of Angola,.ao,AO,AGO,11.30,16.61,15.98,32.59,25.33,...,24.45,0.06,198,-8.34,2021 est.,21.5°,21.7°,21.8°,21.7°,21.7°
4,ARGENTINA,The Argentine Republic,.ar,AR,ARG,100.66,139.43,158.69,199.42,183.17,...,189.00,0.50,16,15.26,2021 est.,14.9°,15.0°,15.1°,15.4°,15.4°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,URUGUAY,The Oriental Republic of Uruguay,.uy,UY,URY,3.94,5.54,5.53,6.78,6.68,...,6.79,0.02,74,5.87,2021 est.,17.7°,17.9°,18.0°,18.2°,18.1°
116,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB,126.01,127.18,121.35,103.98,122.77,...,125.65,0.33,48,8.37,2021 est.,12.9°,13.4°,14.0°,14.1°,14.8°
117,YEMEN,The Republic of Yemen,.ye,YE,YEM,7.09,15.73,21.99,14.25,12.31,...,12.05,0.03,189,-5.23,2018 est.,25.2°,25.4°,25.6°,25.7°,25.6°
118,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB,3.02,1.96,2.46,5.31,7.08,...,7.01,0.02,100,4.18,2021 est.,21.8°,22.0°,22.2°,22.2°,22.1°
119,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE,17.21,14.52,11.41,12.88,12.09,...,12.29,0.03,68,6.37,2021 est.,21.4°,21.6°,21.9°,22.0°,21.9°

In [195]:
merge_result.columns

Index(['Country', 'Officialstatename', 'InternetccTLD', 'iso2', 'iso3', '1990',
       '2000', '2005', '2015', '2019', '2020', '2021', '2021 %', 'Rank', '%',
       'Date of Information', 'Temperature 100-Year Avg. 1921-2021 Centigrade',
       'Temperature 50-Year Avg. 1972-2021 Centigrade',
       'Temperature 25-Year Avg. 1997-2021 Centigrade',
       'Temperature 10-Year Avg. 2011-2021 Centigrade',
       'Temperature Latest 2021 Centigrade'],
      dtype='object')

In [196]:
merge_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 21 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Country                                         120 non-null    object
 1   Officialstatename                               120 non-null    object
 2   InternetccTLD                                   120 non-null    object
 3   iso2                                            119 non-null    object
 4   iso3                                            120 non-null    object
 5   1990                                            120 non-null    object
 6   2000                                            120 non-null    object
 7   2005                                            120 non-null    object
 8   2015                                            120 non-null    object
 9   2019                                            120 non-null    object
 10  2020                                            120 non-null    object
 11  2021                                            120 non-null    object
 12  2021 %                                          120 non-null    object
 13  Rank                                            120 non-null    int64
 14  %                                               120 non-null    float64
 15  Date of Information                             120 non-null    object
 16  Temperature 100-Year Avg. 1921-2021 Centigrade  120 non-null    object
 17  Temperature 50-Year Avg. 1972-2021 Centigrade   120 non-null    object
 18  Temperature 25-Year Avg. 1997-2021 Centigrade   120 non-null    object
 19  Temperature 10-Year Avg. 2011-2021 Centigrade   120 non-null    object
 20  Temperature Latest 2021 Centigrade              120 non-null    object
dtypes: float64(1), int64(1), object(19)
memory usage: 19.8+ KB

In [197]:
#Se usará la funcion applymap para eliminar todos los espacios de los costados, y como se observa que hay algunas columnas
#que contienen datos de tipo float64 e int64 la funcion isinstance se utiliza para no hacer cambios a este tipo de variables
merge_result1 = merge_result.applymap(lambda x: x.strip() if isinstance(x, str) else x)
merge_result1

,Country,Officialstatename,InternetccTLD,iso2,iso3,1990,2000,2005,2015,2019,...,2021,2021 %,Rank,%,Date of Information,Temperature 100-Year Avg. 1921-2021 Centigrade,Temperature 50-Year Avg. 1972-2021 Centigrade,Temperature 25-Year Avg. 1997-2021 Centigrade,Temperature 10-Year Avg. 2011-2021 Centigrade,Temperature Latest 2021 Centigrade
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG,2.91,1.08,1.32,8.36,8.08,...,8.35,0.02,203,-14.19,2021 est.,12.7°,13.1°,13.6°,13.7°,14.3°
1,ALBANIA,The Republic of Albania,.al,AL,ALB,6.65,3.27,4.21,4.92,5.04,...,4.59,0.01,12,16.00,2021 est.,12.0°,12.1°,12.7°,13.0°,12.9°
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA,68.00,83.73,98.61,161.48,177.92,...,173.00,0.46,57,7.36,2021 est.,23.2°,23.4°,23.7°,23.8°,23.9°
3,ANGOLA,The Republic of Angola,.ao,AO,AGO,11.30,16.61,15.98,32.59,25.33,...,24.45,0.06,198,-8.34,2021 est.,21.5°,21.7°,21.8°,21.7°,21.7°
4,ARGENTINA,The Argentine Republic,.ar,AR,ARG,100.66,139.43,158.69,199.42,183.17,...,189.00,0.50,16,15.26,2021 est.,14.9°,15.0°,15.1°,15.4°,15.4°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,URUGUAY,The Oriental Republic of Uruguay,.uy,UY,URY,3.94,5.54,5.53,6.78,6.68,...,6.79,0.02,74,5.87,2021 est.,17.7°,17.9°,18.0°,18.2°,18.1°
116,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB,126.01,127.18,121.35,103.98,122.77,...,125.65,0.33,48,8.37,2021 est.,12.9°,13.4°,14.0°,14.1°,14.8°
117,YEMEN,The Republic of Yemen,.ye,YE,YEM,7.09,15.73,21.99,14.25,12.31,...,12.05,0.03,189,-5.23,2018 est.,25.2°,25.4°,25.6°,25.7°,25.6°
118,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB,3.02,1.96,2.46,5.31,7.08,...,7.01,0.02,100,4.18,2021 est.,21.8°,22.0°,22.2°,22.2°,22.1°
119,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE,17.21,14.52,11.41,12.88,12.09,...,12.29,0.03,68,6.37,2021 est.,21.4°,21.6°,21.9°,22.0°,21.9°

In [198]:
merge_result1['Officialstatename'] = merge_result1['Officialstatename'].str.replace(' ', '')
merge_result1

,Country,Officialstatename,InternetccTLD,iso2,iso3,1990,2000,2005,2015,2019,...,2021,2021 %,Rank,%,Date of Information,Temperature 100-Year Avg. 1921-2021 Centigrade,Temperature 50-Year Avg. 1972-2021 Centigrade,Temperature 25-Year Avg. 1997-2021 Centigrade,Temperature 10-Year Avg. 2011-2021 Centigrade,Temperature Latest 2021 Centigrade
0,AFGHANISTAN,TheIslamicRepublicofAfghanistan,.af,AF,AFG,2.91,1.08,1.32,8.36,8.08,...,8.35,0.02,203,-14.19,2021 est.,12.7°,13.1°,13.6°,13.7°,14.3°
1,ALBANIA,TheRepublicofAlbania,.al,AL,ALB,6.65,3.27,4.21,4.92,5.04,...,4.59,0.01,12,16.00,2021 est.,12.0°,12.1°,12.7°,13.0°,12.9°
2,ALGERIA,ThePeople'sDemocraticRepublicofAlgeria,.dz,DZ,DZA,68.00,83.73,98.61,161.48,177.92,...,173.00,0.46,57,7.36,2021 est.,23.2°,23.4°,23.7°,23.8°,23.9°
3,ANGOLA,TheRepublicofAngola,.ao,AO,AGO,11.30,16.61,15.98,32.59,25.33,...,24.45,0.06,198,-8.34,2021 est.,21.5°,21.7°,21.8°,21.7°,21.7°
4,ARGENTINA,TheArgentineRepublic,.ar,AR,ARG,100.66,139.43,158.69,199.42,183.17,...,189.00,0.50,16,15.26,2021 est.,14.9°,15.0°,15.1°,15.4°,15.4°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,URUGUAY,TheOrientalRepublicofUruguay,.uy,UY,URY,3.94,5.54,5.53,6.78,6.68,...,6.79,0.02,74,5.87,2021 est.,17.7°,17.9°,18.0°,18.2°,18.1°
116,UZBEKISTAN,TheRepublicofUzbekistan,.uz,UZ,UZB,126.01,127.18,121.35,103.98,122.77,...,125.65,0.33,48,8.37,2021 est.,12.9°,13.4°,14.0°,14.1°,14.8°
117,YEMEN,TheRepublicofYemen,.ye,YE,YEM,7.09,15.73,21.99,14.25,12.31,...,12.05,0.03,189,-5.23,2018 est.,25.2°,25.4°,25.6°,25.7°,25.6°
118,ZAMBIA,TheRepublicofZambia,.zm,ZM,ZMB,3.02,1.96,2.46,5.31,7.08,...,7.01,0.02,100,4.18,2021 est.,21.8°,22.0°,22.2°,22.2°,22.1°
119,ZIMBABWE,TheRepublicofZimbabwe,.zw,ZW,ZWE,17.21,14.52,11.41,12.88,12.09,...,12.29,0.03,68,6.37,2021 est.,21.4°,21.6°,21.9°,22.0°,21.9°

In [199]:
merge_result1.columns=merge_result1.columns.str.replace(" ", "_")
merge_result1

,Country,Officialstatename,InternetccTLD,iso2,iso3,1990,2000,2005,2015,2019,...,2021,2021 %,Rank,%,Date_of_Information,Temperature_100-Year_Avg._1921-2021_Centigrade,Temperature_50-Year_Avg._1972-2021_Centigrade,Temperature_25-Year_Avg._1997-2021_Centigrade,Temperature_10-Year_Avg._2011-2021_Centigrade,Temperature_Latest_2021_Centigrade
0,AFGHANISTAN,TheIslamicRepublicofAfghanistan,.af,AF,AFG,2.91,1.08,1.32,8.36,8.08,...,8.35,0.02,203,-14.19,2021 est.,12.7°,13.1°,13.6°,13.7°,14.3°
1,ALBANIA,TheRepublicofAlbania,.al,AL,ALB,6.65,3.27,4.21,4.92,5.04,...,4.59,0.01,12,16.00,2021 est.,12.0°,12.1°,12.7°,13.0°,12.9°
2,ALGERIA,ThePeople'sDemocraticRepublicofAlgeria,.dz,DZ,DZA,68.00,83.73,98.61,161.48,177.92,...,173.00,0.46,57,7.36,2021 est.,23.2°,23.4°,23.7°,23.8°,23.9°
3,ANGOLA,TheRepublicofAngola,.ao,AO,AGO,11.30,16.61,15.98,32.59,25.33,...,24.45,0.06,198,-8.34,2021 est.,21.5°,21.7°,21.8°,21.7°,21.7°
4,ARGENTINA,TheArgentineRepublic,.ar,AR,ARG,100.66,139.43,158.69,199.42,183.17,...,189.00,0.50,16,15.26,2021 est.,14.9°,15.0°,15.1°,15.4°,15.4°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,URUGUAY,TheOrientalRepublicofUruguay,.uy,UY,URY,3.94,5.54,5.53,6.78,6.68,...,6.79,0.02,74,5.87,2021 est.,17.7°,17.9°,18.0°,18.2°,18.1°
116,UZBEKISTAN,TheRepublicofUzbekistan,.uz,UZ,UZB,126.01,127.18,121.35,103.98,122.77,...,125.65,0.33,48,8.37,2021 est.,12.9°,13.4°,14.0°,14.1°,14.8°
117,YEMEN,TheRepublicofYemen,.ye,YE,YEM,7.09,15.73,21.99,14.25,12.31,...,12.05,0.03,189,-5.23,2018 est.,25.2°,25.4°,25.6°,25.7°,25.6°
118,ZAMBIA,TheRepublicofZambia,.zm,ZM,ZMB,3.02,1.96,2.46,5.31,7.08,...,7.01,0.02,100,4.18,2021 est.,21.8°,22.0°,22.2°,22.2°,22.1°
119,ZIMBABWE,TheRepublicofZimbabwe,.zw,ZW,ZWE,17.21,14.52,11.41,12.88,12.09,...,12.29,0.03,68,6.37,2021 est.,21.4°,21.6°,21.9°,22.0°,21.9°

In [200]:
merge_result1.columns

Index(['Country', 'Officialstatename', 'InternetccTLD', 'iso2', 'iso3', '1990',
       '2000', '2005', '2015', '2019', '2020', '2021', '2021 %', 'Rank', '%',
       'Date_of_Information', 'Temperature_100-Year_Avg._1921-2021_Centigrade',
       'Temperature_50-Year_Avg._1972-2021_Centigrade',
       'Temperature_25-Year_Avg._1997-2021_Centigrade',
       'Temperature_10-Year_Avg._2011-2021_Centigrade',
       'Temperature_Latest_2021_Centigrade'],
      dtype='object')

In [201]:
merge_result1.columns.to_list()

['Country',
 'Officialstatename',
 'InternetccTLD',
 'iso2',
 'iso3',
 '1990',
 '2000',
 '2005',
 '2015',
 '2019',
 '2020',
 '2021',
 '2021\xa0%',
 'Rank',
 '%',
 'Date_of_Information',
 'Temperature_100-Year_Avg._1921-2021_Centigrade',
 'Temperature_50-Year_Avg._1972-2021_Centigrade',
 'Temperature_25-Year_Avg._1997-2021_Centigrade',
 'Temperature_10-Year_Avg._2011-2021_Centigrade',
 'Temperature_Latest_2021_Centigrade']

In [202]:
merge_result1.rename(columns={'2021\xa0%':"pct"},inplace=True)
merge_result1

,Country,Officialstatename,InternetccTLD,iso2,iso3,1990,2000,2005,2015,2019,...,2021,pct,Rank,%,Date_of_Information,Temperature_100-Year_Avg._1921-2021_Centigrade,Temperature_50-Year_Avg._1972-2021_Centigrade,Temperature_25-Year_Avg._1997-2021_Centigrade,Temperature_10-Year_Avg._2011-2021_Centigrade,Temperature_Latest_2021_Centigrade
0,AFGHANISTAN,TheIslamicRepublicofAfghanistan,.af,AF,AFG,2.91,1.08,1.32,8.36,8.08,...,8.35,0.02,203,-14.19,2021 est.,12.7°,13.1°,13.6°,13.7°,14.3°
1,ALBANIA,TheRepublicofAlbania,.al,AL,ALB,6.65,3.27,4.21,4.92,5.04,...,4.59,0.01,12,16.00,2021 est.,12.0°,12.1°,12.7°,13.0°,12.9°
2,ALGERIA,ThePeople'sDemocraticRepublicofAlgeria,.dz,DZ,DZA,68.00,83.73,98.61,161.48,177.92,...,173.00,0.46,57,7.36,2021 est.,23.2°,23.4°,23.7°,23.8°,23.9°
3,ANGOLA,TheRepublicofAngola,.ao,AO,AGO,11.30,16.61,15.98,32.59,25.33,...,24.45,0.06,198,-8.34,2021 est.,21.5°,21.7°,21.8°,21.7°,21.7°
4,ARGENTINA,TheArgentineRepublic,.ar,AR,ARG,100.66,139.43,158.69,199.42,183.17,...,189.00,0.50,16,15.26,2021 est.,14.9°,15.0°,15.1°,15.4°,15.4°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,URUGUAY,TheOrientalRepublicofUruguay,.uy,UY,URY,3.94,5.54,5.53,6.78,6.68,...,6.79,0.02,74,5.87,2021 est.,17.7°,17.9°,18.0°,18.2°,18.1°
116,UZBEKISTAN,TheRepublicofUzbekistan,.uz,UZ,UZB,126.01,127.18,121.35,103.98,122.77,...,125.65,0.33,48,8.37,2021 est.,12.9°,13.4°,14.0°,14.1°,14.8°
117,YEMEN,TheRepublicofYemen,.ye,YE,YEM,7.09,15.73,21.99,14.25,12.31,...,12.05,0.03,189,-5.23,2018 est.,25.2°,25.4°,25.6°,25.7°,25.6°
118,ZAMBIA,TheRepublicofZambia,.zm,ZM,ZMB,3.02,1.96,2.46,5.31,7.08,...,7.01,0.02,100,4.18,2021 est.,21.8°,22.0°,22.2°,22.2°,22.1°
119,ZIMBABWE,TheRepublicofZimbabwe,.zw,ZW,ZWE,17.21,14.52,11.41,12.88,12.09,...,12.29,0.03,68,6.37,2021 est.,21.4°,21.6°,21.9°,22.0°,21.9°

In [203]:
merge_result1.rename(columns={'%':"2021_Emisions"},inplace=True)
merge_result1

,Country,Officialstatename,InternetccTLD,iso2,iso3,1990,2000,2005,2015,2019,...,2021,pct,Rank,2021_Emisions,Date_of_Information,Temperature_100-Year_Avg._1921-2021_Centigrade,Temperature_50-Year_Avg._1972-2021_Centigrade,Temperature_25-Year_Avg._1997-2021_Centigrade,Temperature_10-Year_Avg._2011-2021_Centigrade,Temperature_Latest_2021_Centigrade
0,AFGHANISTAN,TheIslamicRepublicofAfghanistan,.af,AF,AFG,2.91,1.08,1.32,8.36,8.08,...,8.35,0.02,203,-14.19,2021 est.,12.7°,13.1°,13.6°,13.7°,14.3°
1,ALBANIA,TheRepublicofAlbania,.al,AL,ALB,6.65,3.27,4.21,4.92,5.04,...,4.59,0.01,12,16.00,2021 est.,12.0°,12.1°,12.7°,13.0°,12.9°
2,ALGERIA,ThePeople'sDemocraticRepublicofAlgeria,.dz,DZ,DZA,68.00,83.73,98.61,161.48,177.92,...,173.00,0.46,57,7.36,2021 est.,23.2°,23.4°,23.7°,23.8°,23.9°
3,ANGOLA,TheRepublicofAngola,.ao,AO,AGO,11.30,16.61,15.98,32.59,25.33,...,24.45,0.06,198,-8.34,2021 est.,21.5°,21.7°,21.8°,21.7°,21.7°
4,ARGENTINA,TheArgentineRepublic,.ar,AR,ARG,100.66,139.43,158.69,199.42,183.17,...,189.00,0.50,16,15.26,2021 est.,14.9°,15.0°,15.1°,15.4°,15.4°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,URUGUAY,TheOrientalRepublicofUruguay,.uy,UY,URY,3.94,5.54,5.53,6.78,6.68,...,6.79,0.02,74,5.87,2021 est.,17.7°,17.9°,18.0°,18.2°,18.1°
116,UZBEKISTAN,TheRepublicofUzbekistan,.uz,UZ,UZB,126.01,127.18,121.35,103.98,122.77,...,125.65,0.33,48,8.37,2021 est.,12.9°,13.4°,14.0°,14.1°,14.8°
117,YEMEN,TheRepublicofYemen,.ye,YE,YEM,7.09,15.73,21.99,14.25,12.31,...,12.05,0.03,189,-5.23,2018 est.,25.2°,25.4°,25.6°,25.7°,25.6°
118,ZAMBIA,TheRepublicofZambia,.zm,ZM,ZMB,3.02,1.96,2.46,5.31,7.08,...,7.01,0.02,100,4.18,2021 est.,21.8°,22.0°,22.2°,22.2°,22.1°
119,ZIMBABWE,TheRepublicofZimbabwe,.zw,ZW,ZWE,17.21,14.52,11.41,12.88,12.09,...,12.29,0.03,68,6.37,2021 est.,21.4°,21.6°,21.9°,22.0°,21.9°

In [204]:
merge_result1.rename(columns={'Temperature_Latest_2021_Centigrade':"2021_Temperature"},inplace=True)
merge_result1

,Country,Officialstatename,InternetccTLD,iso2,iso3,1990,2000,2005,2015,2019,...,2021,pct,Rank,2021_Emisions,Date_of_Information,Temperature_100-Year_Avg._1921-2021_Centigrade,Temperature_50-Year_Avg._1972-2021_Centigrade,Temperature_25-Year_Avg._1997-2021_Centigrade,Temperature_10-Year_Avg._2011-2021_Centigrade,2021_Temperature
0,AFGHANISTAN,TheIslamicRepublicofAfghanistan,.af,AF,AFG,2.91,1.08,1.32,8.36,8.08,...,8.35,0.02,203,-14.19,2021 est.,12.7°,13.1°,13.6°,13.7°,14.3°
1,ALBANIA,TheRepublicofAlbania,.al,AL,ALB,6.65,3.27,4.21,4.92,5.04,...,4.59,0.01,12,16.00,2021 est.,12.0°,12.1°,12.7°,13.0°,12.9°
2,ALGERIA,ThePeople'sDemocraticRepublicofAlgeria,.dz,DZ,DZA,68.00,83.73,98.61,161.48,177.92,...,173.00,0.46,57,7.36,2021 est.,23.2°,23.4°,23.7°,23.8°,23.9°
3,ANGOLA,TheRepublicofAngola,.ao,AO,AGO,11.30,16.61,15.98,32.59,25.33,...,24.45,0.06,198,-8.34,2021 est.,21.5°,21.7°,21.8°,21.7°,21.7°
4,ARGENTINA,TheArgentineRepublic,.ar,AR,ARG,100.66,139.43,158.69,199.42,183.17,...,189.00,0.50,16,15.26,2021 est.,14.9°,15.0°,15.1°,15.4°,15.4°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,URUGUAY,TheOrientalRepublicofUruguay,.uy,UY,URY,3.94,5.54,5.53,6.78,6.68,...,6.79,0.02,74,5.87,2021 est.,17.7°,17.9°,18.0°,18.2°,18.1°
116,UZBEKISTAN,TheRepublicofUzbekistan,.uz,UZ,UZB,126.01,127.18,121.35,103.98,122.77,...,125.65,0.33,48,8.37,2021 est.,12.9°,13.4°,14.0°,14.1°,14.8°
117,YEMEN,TheRepublicofYemen,.ye,YE,YEM,7.09,15.73,21.99,14.25,12.31,...,12.05,0.03,189,-5.23,2018 est.,25.2°,25.4°,25.6°,25.7°,25.6°
118,ZAMBIA,TheRepublicofZambia,.zm,ZM,ZMB,3.02,1.96,2.46,5.31,7.08,...,7.01,0.02,100,4.18,2021 est.,21.8°,22.0°,22.2°,22.2°,22.1°
119,ZIMBABWE,TheRepublicofZimbabwe,.zw,ZW,ZWE,17.21,14.52,11.41,12.88,12.09,...,12.29,0.03,68,6.37,2021 est.,21.4°,21.6°,21.9°,22.0°,21.9°

In [205]:
merge_result1.rename(columns={'2021':"2021_TI"},inplace=True)
merge_result1

,Country,Officialstatename,InternetccTLD,iso2,iso3,1990,2000,2005,2015,2019,...,2021_TI,pct,Rank,2021_Emisions,Date_of_Information,Temperature_100-Year_Avg._1921-2021_Centigrade,Temperature_50-Year_Avg._1972-2021_Centigrade,Temperature_25-Year_Avg._1997-2021_Centigrade,Temperature_10-Year_Avg._2011-2021_Centigrade,2021_Temperature
0,AFGHANISTAN,TheIslamicRepublicofAfghanistan,.af,AF,AFG,2.91,1.08,1.32,8.36,8.08,...,8.35,0.02,203,-14.19,2021 est.,12.7°,13.1°,13.6°,13.7°,14.3°
1,ALBANIA,TheRepublicofAlbania,.al,AL,ALB,6.65,3.27,4.21,4.92,5.04,...,4.59,0.01,12,16.00,2021 est.,12.0°,12.1°,12.7°,13.0°,12.9°
2,ALGERIA,ThePeople'sDemocraticRepublicofAlgeria,.dz,DZ,DZA,68.00,83.73,98.61,161.48,177.92,...,173.00,0.46,57,7.36,2021 est.,23.2°,23.4°,23.7°,23.8°,23.9°
3,ANGOLA,TheRepublicofAngola,.ao,AO,AGO,11.30,16.61,15.98,32.59,25.33,...,24.45,0.06,198,-8.34,2021 est.,21.5°,21.7°,21.8°,21.7°,21.7°
4,ARGENTINA,TheArgentineRepublic,.ar,AR,ARG,100.66,139.43,158.69,199.42,183.17,...,189.00,0.50,16,15.26,2021 est.,14.9°,15.0°,15.1°,15.4°,15.4°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,URUGUAY,TheOrientalRepublicofUruguay,.uy,UY,URY,3.94,5.54,5.53,6.78,6.68,...,6.79,0.02,74,5.87,2021 est.,17.7°,17.9°,18.0°,18.2°,18.1°
116,UZBEKISTAN,TheRepublicofUzbekistan,.uz,UZ,UZB,126.01,127.18,121.35,103.98,122.77,...,125.65,0.33,48,8.37,2021 est.,12.9°,13.4°,14.0°,14.1°,14.8°
117,YEMEN,TheRepublicofYemen,.ye,YE,YEM,7.09,15.73,21.99,14.25,12.31,...,12.05,0.03,189,-5.23,2018 est.,25.2°,25.4°,25.6°,25.7°,25.6°
118,ZAMBIA,TheRepublicofZambia,.zm,ZM,ZMB,3.02,1.96,2.46,5.31,7.08,...,7.01,0.02,100,4.18,2021 est.,21.8°,22.0°,22.2°,22.2°,22.1°
119,ZIMBABWE,TheRepublicofZimbabwe,.zw,ZW,ZWE,17.21,14.52,11.41,12.88,12.09,...,12.29,0.03,68,6.37,2021 est.,21.4°,21.6°,21.9°,22.0°,21.9°

In [206]:
merge_result1.columns.to_list()

['Country',
 'Officialstatename',
 'InternetccTLD',
 'iso2',
 'iso3',
 '1990',
 '2000',
 '2005',
 '2015',
 '2019',
 '2020',
 '2021_TI',
 'pct',
 'Rank',
 '2021_Emisions',
 'Date_of_Information',
 'Temperature_100-Year_Avg._1921-2021_Centigrade',
 'Temperature_50-Year_Avg._1972-2021_Centigrade',
 'Temperature_25-Year_Avg._1997-2021_Centigrade',
 'Temperature_10-Year_Avg._2011-2021_Centigrade',
 '2021_Temperature']

In [207]:
merge_result2=merge_result1.drop(columns=['1990','2000','2005','2015','2019','2020','pct','Rank','Date_of_Information','Temperature_100-Year_Avg._1921-2021_Centigrade','Temperature_50-Year_Avg._1972-2021_Centigrade','Temperature_25-Year_Avg._1997-2021_Centigrade','Temperature_10-Year_Avg._2011-2021_Centigrade'])
merge_result2

,Country,Officialstatename,InternetccTLD,iso2,iso3,2021_TI,2021_Emisions,2021_Temperature
0,AFGHANISTAN,TheIslamicRepublicofAfghanistan,.af,AF,AFG,8.35,-14.19,14.3°
1,ALBANIA,TheRepublicofAlbania,.al,AL,ALB,4.59,16.00,12.9°
2,ALGERIA,ThePeople'sDemocraticRepublicofAlgeria,.dz,DZ,DZA,173.00,7.36,23.9°
3,ANGOLA,TheRepublicofAngola,.ao,AO,AGO,24.45,-8.34,21.7°
4,ARGENTINA,TheArgentineRepublic,.ar,AR,ARG,189.00,15.26,15.4°
...,...,...,...,...,...,...,...,...
115,URUGUAY,TheOrientalRepublicofUruguay,.uy,UY,URY,6.79,5.87,18.1°
116,UZBEKISTAN,TheRepublicofUzbekistan,.uz,UZ,UZB,125.65,8.37,14.8°
117,YEMEN,TheRepublicofYemen,.ye,YE,YEM,12.05,-5.23,25.6°
118,ZAMBIA,TheRepublicofZambia,.zm,ZM,ZMB,7.01,4.18,22.1°
119,ZIMBABWE,TheRepublicofZimbabwe,.zw,ZW,ZWE,12.29,6.37,21.9°

In [209]:
merge_result2["2021_Temperature"] = merge_result2["2021_Temperature"].str.replace('°', '')
merge_result2

,Country,Officialstatename,InternetccTLD,iso2,iso3,2021_TI,2021_Emisions,2021_Temperature
0,AFGHANISTAN,TheIslamicRepublicofAfghanistan,.af,AF,AFG,8.35,-14.19,14.3
1,ALBANIA,TheRepublicofAlbania,.al,AL,ALB,4.59,16.00,12.9
2,ALGERIA,ThePeople'sDemocraticRepublicofAlgeria,.dz,DZ,DZA,173.00,7.36,23.9
3,ANGOLA,TheRepublicofAngola,.ao,AO,AGO,24.45,-8.34,21.7
4,ARGENTINA,TheArgentineRepublic,.ar,AR,ARG,189.00,15.26,15.4
...,...,...,...,...,...,...,...,...
115,URUGUAY,TheOrientalRepublicofUruguay,.uy,UY,URY,6.79,5.87,18.1
116,UZBEKISTAN,TheRepublicofUzbekistan,.uz,UZ,UZB,125.65,8.37,14.8
117,YEMEN,TheRepublicofYemen,.ye,YE,YEM,12.05,-5.23,25.6
118,ZAMBIA,TheRepublicofZambia,.zm,ZM,ZMB,7.01,4.18,22.1
119,ZIMBABWE,TheRepublicofZimbabwe,.zw,ZW,ZWE,12.29,6.37,21.9

In [211]:
merge_result2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            120 non-null    object
 1   Officialstatename  120 non-null    object
 2   InternetccTLD      120 non-null    object
 3   iso2               119 non-null    object
 4   iso3               120 non-null    object
 5   2021_TI            120 non-null    object
 6   2021_Emisions      120 non-null    float64
 7   2021_Temperature   120 non-null    object
dtypes: float64(1), object(7)
memory usage: 7.6+ KB

In [213]:
merge_result2['2021_TI'] = merge_result2['2021_TI'].str.strip()
merge_result2

,Country,Officialstatename,InternetccTLD,iso2,iso3,2021_TI,2021_Emisions,2021_Temperature
0,AFGHANISTAN,TheIslamicRepublicofAfghanistan,.af,AF,AFG,8.35,-14.19,14.3
1,ALBANIA,TheRepublicofAlbania,.al,AL,ALB,4.59,16.00,12.9
2,ALGERIA,ThePeople'sDemocraticRepublicofAlgeria,.dz,DZ,DZA,173.00,7.36,23.9
3,ANGOLA,TheRepublicofAngola,.ao,AO,AGO,24.45,-8.34,21.7
4,ARGENTINA,TheArgentineRepublic,.ar,AR,ARG,189.00,15.26,15.4
...,...,...,...,...,...,...,...,...
115,URUGUAY,TheOrientalRepublicofUruguay,.uy,UY,URY,6.79,5.87,18.1
116,UZBEKISTAN,TheRepublicofUzbekistan,.uz,UZ,UZB,125.65,8.37,14.8
117,YEMEN,TheRepublicofYemen,.ye,YE,YEM,12.05,-5.23,25.6
118,ZAMBIA,TheRepublicofZambia,.zm,ZM,ZMB,7.01,4.18,22.1
119,ZIMBABWE,TheRepublicofZimbabwe,.zw,ZW,ZWE,12.29,6.37,21.9

In [214]:
merge_result2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            120 non-null    object
 1   Officialstatename  120 non-null    object
 2   InternetccTLD      120 non-null    object
 3   iso2               119 non-null    object
 4   iso3               120 non-null    object
 5   2021_TI            120 non-null    object
 6   2021_Emisions      120 non-null    float64
 7   2021_Temperature   120 non-null    object
dtypes: float64(1), object(7)
memory usage: 7.6+ KB

In [218]:
merge_result2['2021_Emisions'] = pd.to_numeric(merge_result2['2021_Emisions'], errors='coerce')
merge_result2

,Country,Officialstatename,InternetccTLD,iso2,iso3,2021_TI,2021_Emisions,2021_Temperature
0,AFGHANISTAN,TheIslamicRepublicofAfghanistan,.af,AF,AFG,8.35,-14.19,14.3
1,ALBANIA,TheRepublicofAlbania,.al,AL,ALB,4.59,16.00,12.9
2,ALGERIA,ThePeople'sDemocraticRepublicofAlgeria,.dz,DZ,DZA,173.00,7.36,23.9
3,ANGOLA,TheRepublicofAngola,.ao,AO,AGO,24.45,-8.34,21.7
4,ARGENTINA,TheArgentineRepublic,.ar,AR,ARG,189.00,15.26,15.4
...,...,...,...,...,...,...,...,...
115,URUGUAY,TheOrientalRepublicofUruguay,.uy,UY,URY,6.79,5.87,18.1
116,UZBEKISTAN,TheRepublicofUzbekistan,.uz,UZ,UZB,125.65,8.37,14.8
117,YEMEN,TheRepublicofYemen,.ye,YE,YEM,12.05,-5.23,25.6
118,ZAMBIA,TheRepublicofZambia,.zm,ZM,ZMB,7.01,4.18,22.1
119,ZIMBABWE,TheRepublicofZimbabwe,.zw,ZW,ZWE,12.29,6.37,21.9

In [219]:
merge_result2['2021_TI'] = pd.to_numeric(merge_result2['2021_TI'], errors='coerce')
merge_result2

,Country,Officialstatename,InternetccTLD,iso2,iso3,2021_TI,2021_Emisions,2021_Temperature
0,AFGHANISTAN,TheIslamicRepublicofAfghanistan,.af,AF,AFG,8.35,-14.19,14.3
1,ALBANIA,TheRepublicofAlbania,.al,AL,ALB,4.59,16.00,12.9
2,ALGERIA,ThePeople'sDemocraticRepublicofAlgeria,.dz,DZ,DZA,173.00,7.36,23.9
3,ANGOLA,TheRepublicofAngola,.ao,AO,AGO,24.45,-8.34,21.7
4,ARGENTINA,TheArgentineRepublic,.ar,AR,ARG,189.00,15.26,15.4
...,...,...,...,...,...,...,...,...
115,URUGUAY,TheOrientalRepublicofUruguay,.uy,UY,URY,6.79,5.87,18.1
116,UZBEKISTAN,TheRepublicofUzbekistan,.uz,UZ,UZB,125.65,8.37,14.8
117,YEMEN,TheRepublicofYemen,.ye,YE,YEM,12.05,-5.23,25.6
118,ZAMBIA,TheRepublicofZambia,.zm,ZM,ZMB,7.01,4.18,22.1
119,ZIMBABWE,TheRepublicofZimbabwe,.zw,ZW,ZWE,12.29,6.37,21.9